<!-- TOP COMPONENTS -->

<h3 class="title">At a glance</h3>
<div class="row">
	<!-- Indiv card -->
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
    	<div class="card-header">
    		<h1 class="card-title text-center">
    			<div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-bulb-63 text-danger"></i>
            {{numOverdue}}
          </div>
    			
    		</h1>
        <h2 class="card-title text-center text-danger">Overdue</h2>
      </div>
    </div>
  </div>
	<!-- Indiv card -->
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
    	<div class="card-header">
    		<h1 class="card-title text-center">
    			<div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-watch-time text-warning"></i>
            {{numToday}}
          </div>
    			
    		</h1>
        <h2 class="card-title text-center text-warning">Due today</h2>
      </div>
    </div>
  </div>

  <!-- Indiv card -->
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card">
    	<div class="card-header">
    		<h1 class="card-title text-center">
    			<div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-check-2 text-success"></i>
            {{completionRate}}
          </div>
    		</h1>
        <h2 class="card-title text-center text-success">Completed</h2>
      </div>
    </div>
  </div>
</div>


<!-- TODO LIST -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h2 class="card-title text-left">Tasks</h2>
          </div>

          <div class="col-md-6">
            <div class="update ml-auto mr-auto text-right">
              <button type="submit" class="btn btn-info btn-lg" (click)="toggleForm()" [disabled]="formVisible">Add A Task</button>
            </div>  
          </div>
        </div>

      </div>
      <div class="card-body" [ngClass]="'todo_title'">
        <div class="table-responsive"><!--Can remove this class to remove the scroll -->
          <table class="table">
            <thead class=" text-primary">
              <th>Task</th>
              <th class="text-right">Tags</th>
              <th class="text-right">Due date</th>
              <th class="text-center">Complete</th>
              <th class="text-center">Delete</th>
            </thead>
            <tbody>
            	<tr *ngFor="let todo of todos" 
            	[ngClass]="{'complete' : todo.complete, 'incomplete': !todo.complete }">
								<td (click)="this.expandTodo(todo.id)" [ngClass]="'fixed_size'">
									{{addCaps(todo.title)}}
									<br>
									<p *ngIf="showDescription(todo.id)" [ngClass]="'body'">
										{{addCaps(todo.body)}}
									</p>
								</td>
								<td class="text-right">{{addCaps(todo.tag)}}</td>
                <td class="text-right">{{toDate(todo.duedate)}}</td>
                <td class="text-center">
                	<button class="btn btn-primary btn-sm btn-icon btn-round" (click)="this.markTodo(todo, !todo.complete)">
    								<i class="nc-icon nc-check-2"></i>
  								</button>
  							</td>
              	<td class="text-center">
  								<button class="btn btn-primary btn-sm btn-icon btn-round" (click)="this.deleteTodo(todo.id)">
    								<i class="nc-icon nc-simple-remove"></i>
  								</button>
                </td>
							</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TODO FORM -->
<div class="row" *ngIf="formVisible">
	<div class="col-md-12">
	  <div class="card">
	    <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Add Todo:</h4>
            <div class="warning" >{{warning}}</div>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-default btn-sm btn-icon btn-round" (click)="toggleForm()">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
          </div>
	    </div>
	    <div class="card-body">
	        <div class="row">
	          <div class="col-md-6">
	            <div class="form-group">
	              <label>Task</label>
	              <input type="text" class="form-control" placeholder="What needs to be done?" [(ngModel)]="draft.title">
	            </div>
	          </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Tag</label>
                <input type="text" class="form-control" placeholder="Add a tag" [(ngModel)]="draft.tag">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Due date</label>
                  <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="draft.duedate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
              </div>
            </div>
	        </div>	        
	        <div class="row">
	          <div class="col-md-9">
	            <div class="form-group">
	              <label>Description</label>
	              <textarea class="form-control textarea" placeholder="Add a description of the task..." [(ngModel)]="draft.body"></textarea>
	            </div>
	          </div>

            <div class="col-md-3">
              <div class="update ml-auto mr-auto text-center">
                <button type="submit" class="btn btn-primary btn-lg" (click)="addTodo()">Add Task</button>
              </div>  
            </div>
	        </div>
	    </div>
	  </div>
	</div>
</div>