.complete {
	background-color : lightgreen;
}

.incomplete {
	background-color : white;
}

.warning {
	color : red;
	
}

.body {
	padding: 30px;
	font-size: 18px;
}

.todo_title {
	font-size: 20px;
}

.fixed_size {
	max-width: 350px;
	min-width: 350px;
	cursor: pointer;
}